.parent {
    display: flex;
    
    flex-direction: column;
    flex-wrap: nowrap;
    
    justify-content: center;
    
    width: 1000px;
    height: 1000px;
    margin : 0 auto;
    
    background-color: azure;
}

.child {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-weight: 600
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}